@import '@fontsource-variable/open-sans';
@import '@fontsource/inter/700.css';
@import '@fontsource/lora/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.neumorphism {
		box-shadow:
			12px 12px 12px rgba(0, 0, 0, 0.15),
			-10px -10px 10px white;
	}

	.neumorphism-inset {
		box-shadow:
			inset 5px 5px 10px rgba(163, 177, 198, 0.5),
			inset -5px -5px 12px rgba(255, 255, 255, 0.8);
	}

	.neumorphism-alt {
		box-shadow:
			13px 13px 20px #cbced1,
			-13px -13px 20px #ffffff;
	}
}

@layer base {
	h1 {
		@apply text-7xl tracking-tighter lg:text-8xl;
		font-weight: 800;
	}

	h2 {
		@apply text-5xl tracking-tighter lg:text-7xl;
		font-weight: 800;
	}

	h3 {
		@apply text-3xl tracking-tight lg:text-5xl;
		font-weight: 700;
	}

	h4 {
		@apply font-bold lg:text-lg xl:text-xl;
	}

	p,
	li {
		@apply lg:text-lg xl:text-xl;
	}

	/* ibm-plex-serif-latin-700-normal */
	@font-face {
		font-family: 'IBM Plex Serif';
		font-style: normal;
		font-display: swap;
		font-weight: 700;
		src:
			url(@fontsource/ibm-plex-serif/files/ibm-plex-serif-latin-700-normal.woff2) format('woff2'),
			url(@fontsource/ibm-plex-serif/files/ibm-plex-serif-latin-700-normal.woff) format('woff');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	/* plus-jakarta-sans-latin-wght-normal */
	@font-face {
		font-family: 'Plus Jakarta Sans Variable';
		font-style: normal;
		font-display: swap;
		font-weight: 200 800;
		src: url(@fontsource-variable/plus-jakarta-sans/files/plus-jakarta-sans-latin-wght-normal.woff2)
			format('woff2-variations');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	/* fira-code-latin-wght-normal */
	@font-face {
		font-family: 'Fira Code Variable';
		font-style: normal;
		font-display: swap;
		font-weight: 300 700;
		src: url(@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2) format('woff2-variations');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	code > span {
		padding-left: 1em;
		padding-right: 1em;
	}

	code {
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	/* code > span {
		margin-top: -0.5rem;
	} */

	code > .highlighted {
		width: 100%;
		display: inline-block;
		background-color: rgba(197, 214, 232, 0.16);
	}

	code > span.diff.add,
	code > .diff.remove {
		width: 100%;
		display: inline-block;
		background-color: rgba(197, 214, 232, 0.16);
		/* Negative margin bottom to get rid of uncolored space between highlighted lines  */
		margin-bottom: -0.63rem;
	}

	.diff.add::before {
		content: '+';
		color: limegreen;
	}

	.diff.remove::before {
		content: '-';
		color: red;
	}
}
